* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  display: inline-block;
  position: relative;
}

.gameTitle {
  display: table;
  margin: 3px auto;
  font-size: xx-large;
}

.container {
  position: relative;
  width: 1400px;
  height: 1080px;
  margin: 3px auto;
  padding: 0px;
  overflow: auto;
}

.hp-enter {
  opacity: 0;
  transform: translate(0, 0);
}

.hp-enter-active {
  opacity: 1;
  transform: translate(-15px, 0px);
  transition-property: transform, opacity;
  transition-duration: 2000ms;
  transition-timing-function: ease-out;
}

.glowbox {
/*    background: #4c4c4c;*/ 
/*    width: 400px;
*/  margin: 0;
    padding: 10px;
    -moz-box-shadow: 0 0 5px 5px #ddd;
    -webkit-box-shadow: 0 0 5px 5px#ddd;
    box-shadow: 0 0 5px 5px #ddd;
}

/*.emperor {
  top: 175px;
  left: 575px;
  z-index: 1;
  position: absolute;
}*/

.vp-enter {
  opacity: 0;
  transform: translate(0, 0);
}

.vp-enter-active {
  opacity: 1;
  transform: translate(-15px, 0px);
  transition-property: transform, opacity;
  transition-duration: 2000ms;
  transition-timing-function: ease-out;
}

.energy-enter {
  opacity: 0;
  transform: translate(0, 0);
}

.energy-enter-active {
  opacity: 1;
  transform: translate(-15px, 0px);
  transition-property: transform, opacity;
  transition-duration: 2000ms;
  transition-timing-function: ease-out;
}
