* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.gameTitle {
  display: table;
  margin: 3px auto;
  font-size: xx-large;
}

.container {
  position: relative;
  width: 1100px;
  height: 900px;
  margin: 3px auto;
  padding: 0px;
  /*border: 1px solid royalblue;*/
}