* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  display: inline-block;
  position: relative;
}

.gameTitle {
  display: table;
  margin: 3px auto;
  font-size: xx-large;
}

.container {
  position: relative;
  width: 1100px;
  height: 900px;
  margin: 3px auto;
  padding: 0px;
  overflow: auto;
}